@font-face {
  font-family: centuryNormal;
  src:url("../fonts/century.ttf") format("truetype"),
      url("../fonts/century.woff") format("woff"),
      url("../fonts/century.woff2") format("woff2");
}

//Variabler
$gold: #AF8819;
$black: #000000;
$baggrundgrå: #f4f4f4;
$primary-font: "centuryNormal", Georgia, serif;
$secondary-font: "Arial", sans-serif;

//Styler body, og sikre højden på video-header er 100%
html, body{
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
}
//Styler video-header element
.front-cover{
  height: 100%;
  //Styler video
  //Video ligger fast i baggrunden, og følger med hele vejen ned. Kan ses, hvor der ikke er baggrundsfarve
  video{
    z-index: -100;
    width: auto;
    min-height: 100vh;
    position: relative;
    top:50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -mox-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/krenkerup.background.jpg") no-repeat;
    background-size: cover;
  }
  .front-cover-mobil{
    display: none;
  }
}
@media screen and (max-width: 600px){
  .front-cover{
    video{
      display: none;
    }
    .front-cover-mobil{
      min-height: 100%;
      display: block;
      background-image: url("../images/krenkerup.background.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}
//Font decoration
h1{
  font-family: $primary-font;
  font-size: 3em;
  color: $gold;
  text-align: center;
  margin: 0;
}
h2{
  font-family: $primary-font;
  font-size: 2em;
  color: $gold;
  margin: 0;
}
h3{
  font-family: $primary-font;
  font-size: 1.5em;
  color: $black;
  margin: 0;
}
h4{
  font-family: $primary-font;
  font-size: 1.2em;
  margin: 0;
}
p{
  margin: 0;
  font-family: $primary-font;
}
//HEADER STYLING
header{
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0;
  -webkit-appearance: none;
  //Styler logo på mobil
  .logo-mobil{
    display: none;
    position: static;
    z-index: -1;
    a{
      img{
        width: 80px;
        margin: auto;
      }
    }
  }
  //Styler web logo
  .logo-web{
    display: block;
    a{
      img{
        display: flex;
        margin: 15px auto;
        width: 150px;
        padding-top: 15px;
      }
    }
  }
  //Styler top nav-bar
  .topnav{
    /*background-color: white;*/
    //Styler menupunkter
    a{
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 20px 0px;
      text-decoration: none;
      font-size: 1.4em;
      font-family: $primary-font;
      &:hover{
        color: $gold;
      }
    }
    //Styler burger-menu ikon
    .icon{
      display: none;
      padding: 28px 20px 20px 12px;
      text-align: center;
      color: $gold;
    }
  }
  //CSS GÆLDER KUN FOR MOBIL-HEADER (BURGERMENU)
  @media screen and(max-width: 900px){
    //Mobil logo vises og styles
    .logo-mobil{
      display: block;
      position: relative;
      z-index: 2;
      top: 10px;
      left: 10px;
      img{
        width: 100px;
      }
    }
    //Web logo skjules
    .logo-web{
      display: none;
    }
    //Top nav styling
    .topnav{
      height: 105px;
      margin-top: -90px;
      z-index: 3;
      position: relative;
      //1. menupunkt rykkes ned
      .firstchild{
        margin-top: 80px;
      }
      //Margin under sidste menupunkt
      .lastchild{
        margin-bottom: 50px;
      }
    }
    //Menupunkter skjules
    .topnav a{
      display: none;
    }
    //Burgermenu - ikon
    .topnav a.icon{
      float: right;
      display: block;
    }
    //Styling af aktiv menu
    .topnav.responsive{
      position: relative;
      height: 100%;
    }
    //Styling af aktivt menuikon
    .topnav.responsive .icon{
      position: absolute;
      right: 0;
      top: -80px;
    }
    //Styling af aktive menupunkter
    .topnav.responsive a{
      float: none;
      display: block;
      text-align: center;
    }
  }
}
//Styling af main-indholdet
main{
  //Historie element styles
  .historien{
    width: 100%;
    padding: 5% 0 5% 0;
    background-color: $baggrundgrå;
    // GRID FOR MOBIL VISNING
    // SIKRE KORREKT PLACERING AF TIDSLINJE OG INDHOLD PÅ MOBIL
    display: grid;
    grid-template-columns: 8% 8% 68% 16%;
    grid-template-areas:   "overskrift overskrift overskrift overskrift"
                           ". tidslinje afsnit-et ."
                           ". tidslinje afsnit-to ."
                           ". tidslinje afsnit-tre ."
                           ". tidslinje afsnit-fire .";
    //Placering af forskellige elementer i grid
    .tidslinje{
      grid-area: tidslinje;
      border-left: 2px solid $gold;
      height: 88%;
      margin-top: 150px;
    }
    .overskrift{
      grid-area: overskrift;
      margin-bottom: -45px;
      text-align: center;
    }
    .afsnit-et{
      grid-area: afsnit-et;
    }
    .afsnit-to{
      grid-area: afsnit-to;
    }
    .afsnit-tre{
      grid-area: afsnit-tre;
    }
    .afsnit-fire{
      grid-area: afsnit-fire;
    }
    //Styling af historie-afsnittene - STYLER BILLEDER OG TEKST
    .historie-afsnit{
      display: flex;
      flex-direction: column;
      //STYLING AF BILLEDE
      img{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin: 70px auto 40px auto;
        overflow: hidden;
      }
      //STYLING AF OVERSKRIFT
      h3{
        margin: 0;
      }
      //STYLING AF ÅRSTAL
      .aarstal{
        margin: 3px 0 0 0;
        font-family: $secondary-font;
        color: $gold;
        font-size: larger;
      }
      //STYLING AF BESKRIVELSE
      .beskrivelse{
        margin: 3px 0 0 0;
        font-family: $primary-font;
      }
    }
  }
  //STYLING AF AFSNIT OMKRING ØLLEN
  .oellen{
    margin-top: -2px;
    margin-bottom: -2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    //Styling af øllen img
    img{
      padding-top: 5%;
      width: 50%;
      max-width: 350px;
      margin: auto;
    }
    //Styling af beskrivelse af øllen
    .oellen-beskrivelse{
      margin: 0 16% 5% 16%;
      h2{
        margin-bottom: 20px;
      }
      .brygningen-overskrift{
        margin-top: 15px;
      }
    }
  }
  //STYLING AF FØLG OS AFSNIT
  .foelgos{
    display: flex;
    flex-direction: column;
    padding: 5% 16% 5% 16%;
    background-color: $baggrundgrå;
    //STYLING AF OVERSKRIFT
    h1{
      margin-bottom: 25px;
    }
    //STYLING AF NYHEDSBREV TILMELD ELEMENT
    .nyhedsbrev{
      width: 100%;
      padding-top: 15px;
      padding-bottom: 25px;
      //INPUT FELTER
      input{
        width: 100%;
        height: 40px;
        border: 0.2px solid black;
        -webkit-appearance: none;
      }
      //TILMELD KNAP
      input[type=submit]{
        border: none;
        background-color: $gold;
        color: white;
        font-family: $primary-font;
        border-radius: 4px;
        font-size: larger;
        font-weight: normal;
        -webkit-appearance: none;
      }
    }
    //STYLING AF INSTAGRAM ELEMENT
    .instagram{
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      //INSTAGRAM LOGO
      img{
        width: 20%;
        margin: auto;
        padding: 20px;
      }
      //STYLING AF KNAP TIL INSTAGRAM
      input[type=submit]{
        width: 100%;
        height: 40px;
        border: none;
        background-color: $gold;
        color: white;
        font-family: $primary-font;
        border-radius: 4px;
        font-size: larger;
        font-weight: normal;
        -webkit-appearance: none;
      }
    }
  }
}
//STYLING AF FOOTER M. ADRESSE OG KONTAKTOPLYSNINGER
footer{
  background-color: $gold;
  text-align: center;
  padding: 30px 0;
  p{
    color: white;
  }
}
//GÆLDER KUN TABLET OG PC
@media screen and (min-width: 600px){

  main{
    .historien{
      //GRID FOR HISTORIE - GÆLDER PÅ TABLET OG PC
      display: grid;
      grid-template-columns: 50% 2px 50%;
      grid-template-rows: auto auto 250px auto 250px auto 250px auto;
      grid-template-areas:  "overskrift overskrift overskrift"
                            ". tidslinje historienet"
                            "historiento tidslinje historienet"
                            "historiento tidslinje ."
                            "historiento tidslinje historientre"
                            ". tidslinje historientre"
                            "historienfire tidslinje historientre"
                            "historienfire tidslinje .";
      //PLACERE ELEMENTER I GRID
      .overskrift{
        grid-area: overskrift;
      }
      .tidslinje{
        grid-area: tidslinje;
        height: 90% !important;
      }
      .afsnit-et{
        grid-area: historienet;
      }
      .afsnit-to{
        grid-area: historiento;
      }
      .afsnit-tre{
        grid-area: historientre;
      }
      .afsnit-fire{
        grid-area: historienfire;
      }
      .historie-afsnit{
        margin-left: 20%;
        margin-right: 20%;
      }
    }
    //STYLING AF ELEMENT TIL PRÆSENTATION AF ØLLEN - PC OG TABLET
    .oellen{
      display: grid;
      grid-template-columns: 5% 45% 45% 5%;
      grid-template-areas: ". beskrivelse oellen .";
      //BILLEE AF ØLLEN
      .oellen-billede{
        grid-area: oellen;
      }
      //BEKSRIVELSE AF ØLLEN
      .oellen-beskrivelse{
        grid-area: beskrivelse;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
//GÆLDER KUN PÅ PC
@media screen and (min-width: 900px) {
  //STYLING AF PC HEADER
  header{
    .topnav{
      //WEB LOGO STYLING
      .logo-web{
        position: relative !important;
        z-index: -1 !important;
      }
      .content{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: -120px;
        height: 120px;
        z-index: 10;
        /*FØRSTE OG SIDSTE MENUPUNKT HAR MINDRE PLADS, OG 2. OG 3. HAR MERE PLADS; FOR AT SKABE PLADS
        TIL LOGOET I MIDTE, OG SIKRE, AT MENUPUNKTERNE KOMMER PÅ HVER SIN SIDE AF LOGOET*/
        .firstchild, .lastchild{
          flex-grow: 0.5;
        }
        .secondchild, .thirdchild{
          flex-grow: 100;
        }
      }
    }
  }
  //STYLING AF MAIN ELEMENT
  main {
    .historien {
      //GRID TIL PC 
      display: grid;
      grid-template-columns: 50% 2px 50%;
      grid-template-rows: auto auto 150px auto 150px auto 150px auto;
      grid-template-areas: "overskrift overskrift overskrift" ". tidslinje historienet" "historiento tidslinje historienet" "historiento tidslinje ." "historiento tidslinje historientre" ". tidslinje historientre" "historienfire tidslinje historientre" "historienfire tidslinje .";
      //PLACERING AF ELEMENTER I GRID
      .overskrift {
        grid-area: overskrift;
      }
      .tidslinje {
        grid-area: tidslinje;
      }
      .afsnit-et {
        grid-area: historienet;
      }
      .afsnit-to {
        grid-area: historiento;
      }
      .afsnit-tre {
        grid-area: historientre;
      }
      .afsnit-fire {
        grid-area: historienfire;
      }
      //HISTORIE TEKST BLIVER SKUBBET IND, SÅ DE IKKE ER SÅ BREDE 
      .historie-afsnit {
        margin-left: 25%;
        margin-right: 25%;
      }
    }
    // FØLG OS ELEMENTET 
    .foelgos{
      padding: 5% 25%;
      //STYLER KNAP TIL 'TILMELD NYHEDSBREV' OG 'INSTAGRAM UNIVERS'
      input[type=submit]{
        display: flex;
        width: 50% !important;
        margin: auto;
        justify-content: center;
      }
    }
  }
}
//GÆLDER KUN OVER 1600 PX
@media screen and (min-width: 1600px) {
  //RYKKER HISTORIE ELEMENTER MERE MOD MIDTEN
  .afsnit-et, .afsnit-tre{
    margin-right: 45% !important;
    margin-left: 20% !important;
  }
  .afsnit-to, .afsnit-fire{
    margin-left: 45% !important;
    margin-right: 20% !important;
  }
  .oellen-beskrivelse{
    margin-left: 40% !important;
  }
  .foelgos{
    padding: 5% 35% !important;
  }
  
}