@charset "UTF-8";
@font-face {
  font-family: centuryNormal;
  src: url("../fonts/century.ttf") format("truetype"), url("../fonts/century.woff") format("woff"), url("../fonts/century.woff2") format("woff2"); }
html, body {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0; }

.front-cover {
  height: 100%; }
  .front-cover video {
    z-index: -100;
    width: auto;
    min-height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -mox-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/krenkerup.background.jpg") no-repeat;
    background-size: cover; }
  .front-cover .front-cover-mobil {
    display: none; }

@media screen and (max-width: 600px) {
  .front-cover video {
    display: none; }
  .front-cover .front-cover-mobil {
    min-height: 100%;
    display: block;
    background-image: url("../images/krenkerup.background.jpg");
    background-size: cover;
    background-position: center; } }
h1 {
  font-family: "centuryNormal", Georgia, serif;
  font-size: 3em;
  color: #AF8819;
  text-align: center;
  margin: 0; }

h2 {
  font-family: "centuryNormal", Georgia, serif;
  font-size: 2em;
  color: #AF8819;
  margin: 0; }

h3 {
  font-family: "centuryNormal", Georgia, serif;
  font-size: 1.5em;
  color: #000000;
  margin: 0; }

h4 {
  font-family: "centuryNormal", Georgia, serif;
  font-size: 1.2em;
  margin: 0; }

p {
  margin: 0;
  font-family: "centuryNormal", Georgia, serif; }

header {
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0; }
  header .logo-mobil {
    display: none;
    position: static;
    z-index: -1; }
    header .logo-mobil a img {
      width: 80px;
      margin: auto; }
  header .logo-web {
    display: block; }
    header .logo-web a img {
      display: flex;
      margin: 15px auto;
      width: 150px;
      padding-top: 15px; }
  header .topnav {
    /*background-color: white;*/ }
    header .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 20px 0px;
      text-decoration: none;
      font-size: 1.4em;
      font-family: "centuryNormal", Georgia, serif; }
      header .topnav a:hover {
        color: #AF8819; }
    header .topnav .icon {
      display: none;
      padding: 28px 20px 20px 12px;
      text-align: center;
      color: #AF8819; }
  @media screen and (max-width: 900px) {
    header .logo-mobil {
      display: block;
      position: relative;
      z-index: 2;
      top: 10px;
      left: 10px; }
      header .logo-mobil img {
        width: 100px; }
    header .logo-web {
      display: none; }
    header .topnav {
      height: 105px;
      margin-top: -90px;
      z-index: 3;
      position: relative; }
      header .topnav .firstchild {
        margin-top: 80px; }
      header .topnav .lastchild {
        margin-bottom: 50px; }
    header .topnav a {
      display: none; }
    header .topnav a.icon {
      float: right;
      display: block; }
    header .topnav.responsive {
      position: relative;
      height: 100%; }
    header .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: -80px; }
    header .topnav.responsive a {
      float: none;
      display: block;
      text-align: center; } }

main .historien {
  width: 100%;
  padding: 5% 0 5% 0;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 8% 8% 68% 16%;
  grid-template-areas: "overskrift overskrift overskrift overskrift" ". tidslinje afsnit-et ." ". tidslinje afsnit-to ." ". tidslinje afsnit-tre ." ". tidslinje afsnit-fire ."; }
  main .historien .tidslinje {
    grid-area: tidslinje;
    border-left: 2px solid #AF8819;
    height: 88%;
    margin-top: 150px; }
  main .historien .overskrift {
    grid-area: overskrift;
    margin-bottom: -45px;
    text-align: center; }
  main .historien .afsnit-et {
    grid-area: afsnit-et; }
  main .historien .afsnit-to {
    grid-area: afsnit-to; }
  main .historien .afsnit-tre {
    grid-area: afsnit-tre; }
  main .historien .afsnit-fire {
    grid-area: afsnit-fire; }
  main .historien .historie-afsnit {
    display: flex;
    flex-direction: column; }
    main .historien .historie-afsnit img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      margin: 70px auto 40px auto;
      overflow: hidden; }
    main .historien .historie-afsnit h3 {
      margin: 0; }
    main .historien .historie-afsnit .aarstal {
      margin: 3px 0 0 0;
      font-family: "Arial", sans-serif;
      color: #AF8819;
      font-size: larger; }
    main .historien .historie-afsnit .beskrivelse {
      margin: 3px 0 0 0;
      font-family: "centuryNormal", Georgia, serif; }
main .oellen {
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: white;
  display: flex;
  flex-direction: column; }
  main .oellen img {
    padding-top: 5%;
    width: 50%;
    max-width: 350px;
    margin: auto; }
  main .oellen .oellen-beskrivelse {
    margin: 0 16% 5% 16%; }
    main .oellen .oellen-beskrivelse h2 {
      margin-bottom: 20px; }
    main .oellen .oellen-beskrivelse .brygningen-overskrift {
      margin-top: 15px; }
main .foelgos {
  display: flex;
  flex-direction: column;
  padding: 5% 16% 5% 16%;
  background-color: #f4f4f4; }
  main .foelgos h1 {
    margin-bottom: 25px; }
  main .foelgos .nyhedsbrev {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px; }
    main .foelgos .nyhedsbrev input {
      width: 100%;
      height: 40px;
      border: 0.2px solid black;
      -webkit-appearance: none; }
    main .foelgos .nyhedsbrev input[type=submit] {
      border: none;
      background-color: #AF8819;
      color: white;
      font-family: "centuryNormal", Georgia, serif;
      border-radius: 4px;
      font-size: larger;
      font-weight: normal;
      -webkit-appearance: none; }
  main .foelgos .instagram {
    display: flex;
    flex-direction: column;
    margin-top: 5%; }
    main .foelgos .instagram img {
      width: 20%;
      margin: auto;
      padding: 20px; }
    main .foelgos .instagram input[type=submit] {
      width: 100%;
      height: 40px;
      border: none;
      background-color: #AF8819;
      color: white;
      font-family: "centuryNormal", Georgia, serif;
      border-radius: 4px;
      font-size: larger;
      font-weight: normal;
      -webkit-appearance: none; }

footer {
  background-color: #AF8819;
  text-align: center;
  padding: 30px 0; }
  footer p {
    color: white; }

@media screen and (min-width: 600px) {
  main .historien {
    display: grid;
    grid-template-columns: 50% 2px 50%;
    grid-template-rows: auto auto 250px auto 250px auto 250px auto;
    grid-template-areas: "overskrift overskrift overskrift" ". tidslinje historienet" "historiento tidslinje historienet" "historiento tidslinje ." "historiento tidslinje historientre" ". tidslinje historientre" "historienfire tidslinje historientre" "historienfire tidslinje ."; }
    main .historien .overskrift {
      grid-area: overskrift; }
    main .historien .tidslinje {
      grid-area: tidslinje;
      height: 90% !important; }
    main .historien .afsnit-et {
      grid-area: historienet; }
    main .historien .afsnit-to {
      grid-area: historiento; }
    main .historien .afsnit-tre {
      grid-area: historientre; }
    main .historien .afsnit-fire {
      grid-area: historienfire; }
    main .historien .historie-afsnit {
      margin-left: 20%;
      margin-right: 20%; }
  main .oellen {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-areas: ". beskrivelse oellen ."; }
    main .oellen .oellen-billede {
      grid-area: oellen; }
    main .oellen .oellen-beskrivelse {
      grid-area: beskrivelse;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
@media screen and (min-width: 900px) {
  header .topnav .logo-web {
    position: relative !important;
    z-index: -1 !important; }
  header .topnav .content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -125px;
    height: 120px;
    z-index: 10;
    /*FØRSTE OG SIDSTE MENUPUNKT HAR MINDRE PLADS, OG 2. OG 3. HAR MERE PLADS; FOR AT SKABE PLADS
    TIL LOGOET I MIDTE, OG SIKRE, AT MENUPUNKTERNE KOMMER PÅ HVER SIN SIDE AF LOGOET*/ }
    header .topnav .content .firstchild, header .topnav .content .lastchild {
      flex-grow: 0.5; }
    header .topnav .content .secondchild, header .topnav .content .thirdchild {
      flex-grow: 100; }

  main .historien {
    display: grid;
    grid-template-columns: 50% 2px 50%;
    grid-template-rows: auto auto 150px auto 150px auto 150px auto;
    grid-template-areas: "overskrift overskrift overskrift" ". tidslinje historienet" "historiento tidslinje historienet" "historiento tidslinje ." "historiento tidslinje historientre" ". tidslinje historientre" "historienfire tidslinje historientre" "historienfire tidslinje ."; }
    main .historien .overskrift {
      grid-area: overskrift; }
    main .historien .tidslinje {
      grid-area: tidslinje; }
    main .historien .afsnit-et {
      grid-area: historienet; }
    main .historien .afsnit-to {
      grid-area: historiento; }
    main .historien .afsnit-tre {
      grid-area: historientre; }
    main .historien .afsnit-fire {
      grid-area: historienfire; }
    main .historien .historie-afsnit {
      margin-left: 25%;
      margin-right: 25%; }
  main .foelgos {
    padding: 5% 25%; }
    main .foelgos input[type=submit] {
      display: flex;
      width: 50% !important;
      margin: auto;
      justify-content: center; } }
@media screen and (min-width: 1600px) {
  .afsnit-et, .afsnit-tre {
    margin-right: 45% !important;
    margin-left: 20% !important; }

  .afsnit-to, .afsnit-fire {
    margin-left: 45% !important;
    margin-right: 20% !important; }

  .oellen-beskrivelse {
    margin-left: 40% !important; }

  .foelgos {
    padding: 5% 35% !important; } }

/*# sourceMappingURL=styles.css.map */
